<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/assets/css/tailwind.output.css}" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script th:src="@{/assets/js/init-alpine.js}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
    <script th:src="@{/assets/js/charts-lines.js}" defer></script>
    <script th:src="@{/assets/js/charts-pie.js}" defer></script>
    <!-- 페이지 별 css 영역 -->
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      <div th:replace="~{/fragments/sidebar::sidebar}"></div>

      <div class="flex flex-col flex-1 w-full">
        <!-- header -->
        <div th:replace="~{/fragments/header::header}"></div>
        <main class="h-full overflow-y-auto">
          <!-- content -->
          <div layout:fragment="content"></div>
        </main>
      </div>
    </div>
    <!-- 페이지 별 js 영역 -->
    <th:block layout:fragment="js"></th:block>
  </body>
</html>
